@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.header-small {
    margin-top: 20px;
    background-image: url('../assets/bkg-small.svg');
    background-position: top center;
    background-repeat: no-repeat;
    height: 360px;
    background-color: white;
    background-size: cover;
}

.header-small-title {
    padding-top: 25px;
    font-family: 'Montserrat' Alternates;
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 117px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
}

.header-small-subtitle {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
}

@media screen and (max-width: 768px) {
    .header-small {
        background-position: -650px;
    }
}