html {
  font-family: 'Work Sans', sans-serif;
  font-size: 100%;

  overflow-y: auto;
  overflow-x: hidden;
}

body {
  --black: #000;
  --grey: #ffffff88;
  --white: #fff;
  --light-purple: #9756d8;
  --purple: #7c39bf;
  --dark-purple: #280749;
  --blue: #00d0fe;
  --gradient: linear-gradient(var(--blue), var(--purple));
  --bkg: var(--white);
  --text: var(--black);
  --desktop-width: 1200px;
  --mobile-width: 90vw;
  --border-radius: 6px;

  --purple2: #7c39bf;
  --darkgrey: #15171a;
  --midgrey: #738a94;
  --lightgrey: #c5d2d9;
  --whitegrey: #e5eff5;

  --monsterrat: 'Montserrat Alternates', sans-serif;

  background-color: var(--bkg);
  color: var(--text);

  margin: 0;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Sans', sans-serif;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
strong::selection,
b::selection {
  background: var(--dark-purple);
  color: var(--blue);
}

p::selection {
  background: var(--purple2);
  color: var(--white);
}

a::selection {
  background: var(--black);
  color: var(--blue);
}

#faux-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  min-height: 100vh;
  position: relative;
}

@media only screen and (min-width: 700px) {
  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2rem;
  }

  #faux-root {
    min-height: 100vh;
  }
}
